html,
body {
  position: relative;
  background-color: black;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin: 40px auto;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 65px;
  color: white;
}

h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Patrick Hand SC', cursive;
  color: white;
  font-size: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center;
  font-size: 20px;
}

.score {
  width: 400px;
  height: 100px;
  border-radius: 20px;
  margin: 5px auto;
  border: 4px dotted white;
  background-color: #494A4D;
}

.score:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.player1, .player2 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;
  color: white;
  font-size: 30px;
}

.current-turn,.turn {
  text-align: center;
  margin: 10px;
  margin-bottom: 15px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 40px;
  color: white;
}

.box {
  background-color: #494A4D;
  width: 125px;
  height: 125px;
  border-radius: 20px;
  font-size: 90px;
  font-family: 'Patrick Hand SC', cursive;
  color: white;
  border: 4px dotted white;
}

.box:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.board {
  text-align: center;
  margin: 0 auto;
}

.buttonWrap {
  text-align: center;
}

.reset {
  height: 45px;
  width: 100px;
  margin: 15px;
  border-radius: 13px;
  outline: none;
}

.buttonText {
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  font-weight: bold;
}
